{% extends "base.html" %}
{% load staticfiles %}
{% load markup %}
{% block title %}{{ flatpage.title }}{% endblock title %}

{% block page_id %}about{% endblock page_id %}

{% block content %}
<section id="page" class="content">
	<header>
		<h2 class="lead_head">{{ flatpage.title }}</h2>
	</header>

	{{ flatpage.content|markup }}
</section>
{% endblock content %}

{% block footer_about %}
<li class="footer_about">
  <a href="/about/">
	<img src="{% static 'images/about_lindsay_tn.png' %}" alt="Lindsay Beeson">
	About Lindsay
  </a>
</li>
{% endblock footer_about %}