{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}Contact Durango Productive{% endblock title %}

{% block page_id %}contact_form{% endblock page_id %}

{% block content %}
<section id="contact" class="content">
    <header>
        <h2 class="lead_head">Contact</h2>
    </header>
    <p><small>NOTE: All fields are required.</small></p>
    <div data-url="{% url 'communication_create' %}" id="contact_form_container"></div>
    {% render_bundle 'Contact' %}
</section>
{% endblock content %}
