{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Contact Durango Productive{% endblock title %}

{% block page_id %}contact_form{% endblock page_id %}

{% block content %}
<section id="contact" class="content">
	<header>
		<h2 class="lead_head">Contact</h2>
	</header>
	<p><small>NOTE: Fields with an asterisk are required.</small></p>
	<form method="post">
		{% csrf_token %}
		{{ form }}
	<button type="submit" class="btn btn-default">Send</button>
	</form>
</section>
{% endblock content %}

{% block footer_about %}
<li class="footer_about">
  <a href="/about/">
	<img src="{% static 'images/about_lindsay_tn.png' %}" alt="Lindsay Beeson">
	About Lindsay
  </a>
</li>
{% endblock footer_about %}