html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fdf6ee; }
  body section.content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    padding-top: 250px; }
    body section.content:last-child {
      margin-right: 0; }
    body section.content .lead {
      font-size: 20px; }
  body footer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%; }
    body footer:last-child {
      margin-right: 0; }
    body footer ul li {
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 12px; }
      body footer ul li a {
        color: #a1937e; }
    body footer ul .footer_contact {
      background: url("../images/cropped_hex_tn.png") no-repeat 100px 0px;
      background-size: 126px 89px;
      padding-top: 85px; }
      body footer ul .footer_contact ul li {
        clear: left; }
        body footer ul .footer_contact ul li .contact_method {
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 12px; }
        body footer ul .footer_contact ul li .contact_info {
          display: block;
          font-family: "IM Fell DW Pica", serif;
          font-style: italic;
          font-size: 10px;
          color: #a1937e;
          margin-top: -10px;
          text-transform: lowercase;
          font-weight: 400; }
        body footer ul .footer_contact ul li .copyright_label {
          display: block;
          font-family: "IM Fell DW Pica", serif;
          font-style: italic;
          font-size: 10px;
          text-transform: lowercase;
          font-weight: 400; }
        body footer ul .footer_contact ul li .copyright_name {
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 12px;
          display: block;
          width: 150px;
          margin-top: -10px; }

#home {
  background-image: url("../images/header_nav_bg.png"), url("../images/content_bg.png");
  background-image: url("../images/header_nav_bg.png"), url("../images/content_bg.png");
  background-position: center top, center;
  background-repeat: repeat-x, repeat-x; }
  #home .container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    #home .container:after {
      content: "";
      display: table;
      clear: both; }
  #home header#branding {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    background: url("../images/header_logo.png") no-repeat 0px 0px;
    height: 161px;
    position: absolute;
    top: 45px; }
    #home header#branding:last-child {
      margin-right: 0; }
    #home header#branding h1 {
      margin-left: 300px;
      margin-top: 40px; }
      #home header#branding h1 span.branding_durango {
        text-transform: uppercase;
        font-family: "Signika Negative", sans-serif;
        font-weight: 600; }
      #home header#branding h1 span.branding_productive {
        font-style: italic;
        font-family: "IM Fell DW Pica", serif;
        text-transform: lowercase; }
  #home nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: -17.05961%;
    position: absolute;
    height: 46px;
    top: 10px; }
    #home nav:last-child {
      margin-right: 0; }
    #home nav ul {
      text-align: right; }
      #home nav ul li {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        display: inline;
        margin-left: 40px; }
        #home nav ul li a {
          color: #a1937e; }
  #home section#introduction p {
    font-family: "IM Fell DW Pica", serif; }
    #home section#introduction p .intro_link {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #a1937e; }
  #home section#introduction .lead_head {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700; }
  #home section#introduction .lead_follow {
    font-size: 28px;
    font-style: italic; }
  #home footer {
    position: relative;
    top: 179px;
    padding-bottom: 100px; }
    @media screen and (min-width: 40em) {
      #home footer {
        top: 203px; } }
    #home footer ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      display: inline; }
      #home footer ul li:last-child {
        margin-right: 0; }
      #home footer ul li img {
        display: block; }
