html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.75em; }

hgroup {
  margin-bottom: 0.75em; }

del {
  color: #595959; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  line-height: 1.5em;
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fdf6ee; }
  @media screen and (min-width: 40em) {
    body {
      background-image: url("../images/header_nav_bg.png"), url("../images/content_bg_no_footer.png");
      background-image: url("../images/header_nav_bg.png"), url("../images/content_bg_no_footer.png");
      background-position: center top, center;
      background-repeat: repeat-x, repeat; } }
  body .container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    body .container:after {
      content: "";
      display: table;
      clear: both; }
  body nav#main_nav {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 300px; }
    @media screen and (min-width: 40em) {
      body nav#main_nav {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: -17.05961%;
        position: absolute;
        height: 46px;
        top: 10px;
        margin: 0px; }
        body nav#main_nav:last-child {
          margin-right: 0; } }
    body nav#main_nav ul {
      text-align: center; }
      @media screen and (min-width: 40em) {
        body nav#main_nav ul {
          text-align: right; } }
      body nav#main_nav ul li {
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        display: inline;
        font-size: 14px; }
        body nav#main_nav ul li a {
          color: #a1937e; }
        body nav#main_nav ul li:after {
          content: " / ";
          color: #a1937e; }
        body nav#main_nav ul li:last-child:after {
          content: ""; }
        @media screen and (min-width: 40em) {
          body nav#main_nav ul li {
            margin-left: 40px; }
            body nav#main_nav ul li:after {
              content: ""; }
            body nav#main_nav ul li:last-child:after {
              content: ""; } }
  body header#branding {
    background: url("../images/header_logo.png") no-repeat center center;
    height: 161px; }
    @media screen and (min-width: 40em) {
      body header#branding {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%;
        background: url("../images/header_logo.png") no-repeat 0px 0px;
        height: 161px;
        position: absolute;
        top: 45px; }
        body header#branding:last-child {
          margin-right: 0; } }
    body header#branding h1 {
      text-align: center;
      padding-top: 175px; }
      @media screen and (min-width: 40em) {
        body header#branding h1 {
          float: left;
          display: block;
          margin-right: 2.84259%;
          width: 69.14722%;
          margin-left: 20.56852%;
          margin-top: 30px;
          text-align: right;
          padding-top: 0;
          font-size: 52px; }
          body header#branding h1:last-child {
            margin-right: 0; } }
      body header#branding h1 a {
        color: #000; }
        body header#branding h1 a:hover {
          color: #000;
          text-decoration: none; }
      body header#branding h1 span.branding_durango {
        text-transform: uppercase;
        font-family: "Signika Negative", sans-serif;
        font-weight: 600;
        display: block; }
        @media screen and (min-width: 40em) {
          body header#branding h1 span.branding_durango {
            display: inline; } }
      body header#branding h1 span.branding_productive {
        font-style: italic;
        font-family: "IM Fell DW Pica", serif;
        text-transform: lowercase; }
  body section.content {
    padding-top: 200px;
    text-align: center; }
    @media screen and (min-width: 40em) {
      body section.content {
        text-align: left;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%;
        padding-top: 250px; }
        body section.content:last-child {
          margin-right: 0; } }
    body section.content header {
      margin-bottom: 25px; }
    body section.content p {
      font-family: "IM Fell DW Pica", serif;
      font-size: 14px; }
      body section.content p .intro_link {
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        color: #a1937e; }
      @media screen and (min-width: 40em) {
        body section.content p {
          font-size: 22px; } }
    body section.content .lead {
      font-size: 14px; }
      @media screen and (min-width: 40em) {
        body section.content .lead {
          font-size: 32px;
          line-height: 1.2em;
          margin-top: 35px;
          margin-bottom: 35px; } }
    body section.content .lead_head {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700; }
      @media screen and (min-width: 40em) {
        body section.content .lead_head {
          font-size: 28px; } }
    body section.content .lead_follow {
      font-size: 14px;
      font-style: italic; }
      @media screen and (min-width: 40em) {
        body section.content .lead_follow {
          font-size: 32px; } }
  body footer {
    background-color: #fdf6ee;
    padding-bottom: 25px;
    margin-top: 50px; }
    @media screen and (min-width: 40em) {
      body footer {
        border-top: 10px solid #e1ddd6; } }
    body footer ul {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center; }
      body footer ul:last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) {
        body footer ul {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%;
          text-align: left; }
          body footer ul:last-child {
            margin-right: 0; } }
    body footer nav#footer_nav {
      position: absolute;
      bottom: 90px;
      margin: 0 auto;
      width: 100%; }
      body footer nav#footer_nav ul {
        text-align: center; }
        body footer nav#footer_nav ul li {
          margin-left: 0;
          display: inline;
          font-size: 12px; }
          body footer nav#footer_nav ul li:after {
            content: " / ";
            color: #a1937e; }
          body footer nav#footer_nav ul li:last-child:after {
            content: ""; }
      @media screen and (min-width: 40em) {
        body footer nav#footer_nav {
          display: none; } }
    body footer ul li {
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 14px; }
      @media screen and (min-width: 40em) {
        body footer ul li {
          font-size: 14px; } }
      body footer ul li a {
        color: #a1937e; }
    body footer ul .footer_about {
      margin-bottom: 50px; }
      body footer ul .footer_about a img {
        width: 100%; }
        @media screen and (min-width: 40em) {
          body footer ul .footer_about a img {
            width: initial; } }
    body footer ul .footer_contact {
      background: url("../images/footer_hex_sm.png") no-repeat 50% 0px;
      background-size: 44px 51px;
      padding-top: 100px;
      margin-top: 0px; }
      @media screen and (min-width: 40em) {
        body footer ul .footer_contact {
          background: url("../images/cropped_hex_tn.png") no-repeat right top;
          background-size: 126px 89px;
          padding-top: 85px;
          margin-top: 0; } }
      body footer ul .footer_contact ul li {
        clear: left; }
        body footer ul .footer_contact ul li .contact_method {
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 12px; }
        body footer ul .footer_contact ul li .contact_info {
          font-family: "IM Fell DW Pica", serif;
          font-style: italic;
          font-size: 10px;
          color: #a1937e;
          margin-top: -10px;
          text-transform: lowercase;
          font-weight: 400;
          width: 75px; }
          @media screen and (min-width: 40em) {
            body footer ul .footer_contact ul li .contact_info {
              display: block; } }
        body footer ul .footer_contact ul li .copyright_label {
          font-family: "IM Fell DW Pica", serif;
          font-style: italic;
          font-size: 10px;
          text-transform: lowercase;
          font-weight: 400; }
          @media screen and (min-width: 40em) {
            body footer ul .footer_contact ul li .copyright_label {
              display: block; } }
        body footer ul .footer_contact ul li .copyright_name {
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          font-size: 12px;
          width: 150px;
          margin-top: -10px; }
          @media screen and (min-width: 40em) {
            body footer ul .footer_contact ul li .copyright_name {
              display: block; } }

#home footer {
  margin-top: 50px; }
  @media screen and (min-width: 40em) {
    #home footer ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      display: inline; }
      #home footer ul li:last-child {
        margin-right: 0; } }
  #home footer ul li img {
    display: block;
    margin-bottom: 25px; }
  #home footer ul .footer_past_projects {
    display: none; }
    @media screen and (min-width: 40em) {
      #home footer ul .footer_past_projects {
        display: block; } }

#project_list .project_list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #project_list .project_list:last-child {
    margin-right: 0; }
  #project_list .project_list .project {
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: 700; }
    @media screen and (min-width: 40em) {
      #project_list .project_list .project {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #project_list .project_list .project:last-child {
          margin-right: 0; } }
    #project_list .project_list .project a {
      color: #a1937e; }
#project_list footer {
  margin-top: 50px; }
  @media screen and (min-width: 40em) {
    #project_list footer ul {
      margin-left: 34.11922%; } }
  @media screen and (min-width: 40em) {
    #project_list footer ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      display: inline; }
      #project_list footer ul li:last-child {
        margin-right: 0; } }
  #project_list footer ul li img {
    display: block;
    margin-bottom: 25px; }
  #project_list footer ul .footer_past_projects, #project_list footer ul .footer_about {
    display: none; }
    @media screen and (min-width: 40em) {
      #project_list footer ul .footer_past_projects, #project_list footer ul .footer_about {
        display: block; } }
#project_list #footer_nav {
  position: absolute;
  bottom: 85px;
  margin: 0 auto;
  width: 100%; }
  #project_list #footer_nav ul {
    text-align: center; }
    #project_list #footer_nav ul li {
      margin-left: 0;
      display: inline; }
      @media screen and (min-width: 40em) {
        #project_list #footer_nav ul li {
          margin-left: 40px; } }
      #project_list #footer_nav ul li:after {
        content: " / ";
        color: #a1937e; }
      #project_list #footer_nav ul li:last-child:after {
        content: ""; }
  @media screen and (min-width: 40em) {
    #project_list #footer_nav {
      display: none; } }

#project_detail p:first-of-type {
  font-size: 16px; }
  @media screen and (min-width: 40em) {
    #project_detail p:first-of-type {
      font-size: 20px; } }
#project_detail .project_asset_list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-bottom: 50 px; }
  #project_detail .project_asset_list:last-child {
    margin-right: 0; }
  #project_detail .project_asset_list .asset {
    margin-top: 25px; }
    @media screen and (min-width: 40em) {
      #project_detail .project_asset_list .asset {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        #project_detail .project_asset_list .asset:last-child {
          margin-right: 0; } }
    #project_detail .project_asset_list .asset .asset_description {
      padding: 2px;
      background-color: white;
      font-style: italic;
      font-family: "IM Fell DW Pica", serif;
      font-size: 12px;
      display: block;
      width: 100%; }
    #project_detail .project_asset_list .asset img {
      margin-top: 10px;
      width: 100%; }
#project_detail footer {
  margin-top: 50px; }
  @media screen and (min-width: 40em) {
    #project_detail footer ul {
      margin-left: 34.11922%; } }
  @media screen and (min-width: 40em) {
    #project_detail footer ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      display: inline; }
      #project_detail footer ul li:last-child {
        margin-right: 0; } }
  #project_detail footer ul li img {
    display: block;
    margin-bottom: 25px; }
  #project_detail footer ul .footer_past_projects, #project_detail footer ul .footer_about {
    display: none; }
    @media screen and (min-width: 40em) {
      #project_detail footer ul .footer_past_projects, #project_detail footer ul .footer_about {
        display: block; } }
#project_detail nav#footer_nav {
  position: absolute;
  bottom: 85px;
  margin: 0 auto;
  width: 100%; }
  #project_detail nav#footer_nav ul {
    text-align: center; }
    #project_detail nav#footer_nav ul li {
      display: inline;
      margin-left: 0; }
      @media screen and (min-width: 40em) {
        #project_detail nav#footer_nav ul li {
          margin-left: 40px; } }
      #project_detail nav#footer_nav ul li:after {
        content: " / ";
        color: #a1937e; }
      #project_detail nav#footer_nav ul li:last-child:after {
        content: ""; }
  @media screen and (min-width: 40em) {
    #project_detail nav#footer_nav {
      display: none; } }

#contact_form form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px; }
  #contact_form form:last-child {
    margin-right: 0; }
  #contact_form form label {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  @media screen and (min-width: 40em) {
    #contact_form form button {
      float: right; } }
#contact_form footer {
  margin-top: 50px; }
  @media screen and (min-width: 40em) {
    #contact_form footer ul {
      margin-left: 34.11922%; } }
  @media screen and (min-width: 40em) {
    #contact_form footer ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      display: inline; }
      #contact_form footer ul li:last-child {
        margin-right: 0; } }
  #contact_form footer ul li img {
    display: block;
    margin-bottom: 25px; }
  #contact_form footer ul .footer_past_projects, #contact_form footer ul .footer_about {
    display: none; }
    @media screen and (min-width: 40em) {
      #contact_form footer ul .footer_past_projects, #contact_form footer ul .footer_about {
        display: block; } }
#contact_form nav#footer_nav {
  position: absolute;
  bottom: 85px;
  margin: 0 auto;
  width: 100%; }
  #contact_form nav#footer_nav ul {
    text-align: center; }
    #contact_form nav#footer_nav ul li {
      display: inline;
      margin-left: 0; }
      @media screen and (min-width: 40em) {
        #contact_form nav#footer_nav ul li {
          margin-left: 40px; } }
      #contact_form nav#footer_nav ul li:after {
        content: " / ";
        color: #a1937e; }
      #contact_form nav#footer_nav ul li:last-child:after {
        content: ""; }
  @media screen and (min-width: 40em) {
    #contact_form nav#footer_nav {
      display: none; } }

#about footer {
  margin-top: 50px; }
  @media screen and (min-width: 40em) {
    #about footer ul {
      margin-left: 34.11922%; } }
  @media screen and (min-width: 40em) {
    #about footer ul li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      display: inline; }
      #about footer ul li:last-child {
        margin-right: 0; } }
  #about footer ul li img {
    display: block;
    margin-bottom: 25px; }
  #about footer ul .footer_past_projects, #about footer ul .footer_about {
    display: none; }
    @media screen and (min-width: 40em) {
      #about footer ul .footer_past_projects, #about footer ul .footer_about {
        display: block; } }
#about nav#footer_nav {
  position: absolute;
  bottom: 85px;
  margin: 0 auto;
  width: 100%; }
  #about nav#footer_nav ul {
    text-align: center; }
    #about nav#footer_nav ul li {
      display: inline;
      margin-left: 0; }
      @media screen and (min-width: 40em) {
        #about nav#footer_nav ul li {
          margin-left: 40px; } }
      #about nav#footer_nav ul li:after {
        content: " / ";
        color: #a1937e; }
      #about nav#footer_nav ul li:last-child:after {
        content: ""; }
  @media screen and (min-width: 40em) {
    #about nav#footer_nav {
      display: none; } }
