{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Work by Durango Productive{% endblock title %}

{% block page_id %}project_list{% endblock page_id %}

{% block content %}
<section id="my_work" class="content">
	<header>
		<h2 class="lead_head">My Work</h2>
	</header>

	<p class="lead">A few words about my portfolio and things I want to make sure you know about how I like to collaborate.</p>
	<p>And if there are more words, this is what they'd look like. I wonder how much I'll want to say here. Hopefully enough to make it look pretty.</p>
	<ul class="project_list">
	{% for project in project_list %}
		<li class="project">
			<a href="{% url 'portfolio_project_detail' project.slug %}">
				<img src="{{ MEDIA_URL }}{{ project.lead_art }}" alt="More about {{ project.client_name }}">
				{{ project.client_name }}
			</a>
		</li>
	{% endfor %}
	</ul>
</section>
{% endblock %}

{% block footer_about %}
<li class="footer_about">
  <a href="/about/">
	<img src="{% static 'images/about_lindsay_tn.png' %}" alt="Lindsay Beeson">
	About Lindsay
  </a>
</li>
{% endblock footer_about %}